bstatePath: .yarn/build-state

cacheFolder: .yarn/cache

frozenInstalls: true

ignorePath: false

lastUpdateCheck: 1560910052890

npmPublishAccess: public

plugins:
  - .yarn/plugins/@berry/plugin-exec.js
  - .yarn/plugins/@berry/plugin-workspace-tools.js
  - .yarn/plugins/@berry/plugin-typescript.js
  - .yarn/plugins/@berry/plugin-stage.js

pnpDataPath: .pnp.data.json

pnpPath: .pnp.js

pnpUnpluggedFolder: .yarn/unplugged

virtualFolder: .yarn/virtual

yarn-path: ./.yarn/releases/yarn-berry.js
