"--add.exact" true
"--install.frozen-lockfile" true
"--upgrade-interactive.latest" true

unsafe-disable-integrity-migration false
yarn-offline-mirror ".yarn-offline-mirror"
yarn-offline-mirror-pruning true
