"--add.exact" true
"--install.frozen-lockfile" true
"--upgrade-interactive.latest" true

# without containing our yarn-cache to the local repository, PnP breaks flow
# resolution. see https://github.com/yarnpkg/yarn/issues/6957
cache-folder ".yarn-cache"

unsafe-disable-integrity-migration false
yarn-offline-mirror ".yarn-offline-mirror"
yarn-offline-mirror-pruning true
